In [1]:
import os
import glob
import pandas as pd

In [2]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "combined_Liverpool.csv", index=False, encoding='utf-8-sig')

In [17]:
# mask=combined_csv['Event']=='Error'
# combined_csv[mask]

In [18]:
combined_csv

        Event  Player  Team       Outcome     X     Y  endX  endY
0        Pass   89401    13    Successful  37.0  35.8  22.7  66.7
1        Pass   89401    13    Successful  15.6  29.7  27.8   1.7
2        Pass   89401    13    Successful  27.3   9.4  34.3  16.8
3        Pass   89401    13    Successful  26.1  32.2  22.3  70.3
4        Pass   89401    13    Successful  41.2  22.2  29.8  51.0
..        ...     ...   ...           ...   ...   ...   ...   ...
50       Pass   89401    13  Unsuccessful  41.4  78.1  70.0  86.2
51       Pass   89401    13    Successful  35.3  79.9  11.1  55.4
52       Pass   89401    13    Successful  69.0  81.5  76.9  87.4
53       Pass   89401    13    Successful  48.2  46.4  51.5  28.9
54  BallTouch   89401    13    Successful   6.2  58.4   NaN   NaN

[4733 rows x 8 columns]

In [5]:
combined_csv.to_csv('xhaka-combined.csv', index=False)